@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Rubik:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #a9a9b0;
  text-align: center;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
}

.card {
  width: 70%;
  padding: 1em;
  margin: 1.2em auto;
  background-color: #07070cfc;
  border: 1px solid #423359fc;
  border-radius: 7px;
}

.card > button,
.history > button {
  font-size: 20px;
  background-color: #07070cfc;
  border: 1px solid #423359fc;
  padding: 0.5em;
  color: #a9a9b0;
  border-radius: 3px;
  margin: 0.3em;
  margin-top: 1em;
}

.history.in {
  animation: fadeIn 0.7s ease-in-out forwards;
}

.history.out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.history {
  margin-top: 3em;
}

.img-container {
  position: relative;
  margin: 0 auto;
  max-height: 50vh;
  width: 100%;
  overflow: hidden;
}

.img-container > img {
  object-fit: cover;
  height: 400px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to top, #07070cad, transparent);
}

.profile {
  margin-top: 1em;
}

.img-circle {
  width: 50%;
  margin: 0 auto;
  min-width: 150px;
  position: relative;
}

.img-circle > img {
  object-fit: cover;
  width: 70%;
}

h1 {
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-size: 2.3em;
  margin-bottom: 0.2em;
}

.fa-code {
  font-size: 0.9em;
  padding: 5px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.7em;
}

p {
  font-size: 1em;
  margin: 0.5em 1em;
  padding: 0.1em 2em;
  line-height: 1.3em;
}

.enjoy-div > span {
  display: inline-block;
  margin-top: 1em;
}

ul {
  margin: 0 auto;
  margin-left: -2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul > li {
  list-style-type: none;
  margin: 0.5em 3em;
}

a {
  text-decoration: none;
  font-family: Rubik;
  color: rgb(199, 177, 209);
  font-size: 1.2em;
  border: 0;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-card {
  width: 90%;
  padding: 0.5em;
  margin: 0.2em;
  background-color: #07070cfc;
  border: 1px solid #423359fc;
  border-radius: 7px;
  position: relative;
  margin-top: 2em;
}

.project-card img {
  width: 90%;
  margin-bottom: 1em;
}
.project-card p {
  font-size: 14px;
  padding-bottom: 0.5em;
}
.project-card h3 {
  font-size: 20px;
  padding: 5px;
  margin: 0 auto;
}
.project-card a {
  display: block;
  margin-left: -8px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 100;
}

.icon {
  width: 25px;
  height: 25px;
}

.rails {
  background-color: #f2f4f4;
  background-image: url(icons/ruby_on_rails.png);
  background-size: cover;
}
.postgresql {
  background-color: #f2f4f4;
  background-image: url(icons/postgresql.png);
  background-size: cover;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.stack i {
  font-size: 1.5em;
}

i {
  font-size: 2em;
}

a:hover {
  color: #9e73ee;
  box-shadow: 0 0 15px rgb(163, 81, 236);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .project-card {
    width: 100%;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    padding: 5px;
  }

  .card p {
    font-size: 16px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    padding: 0.3em;
  }

  ul {
    flex-wrap: nowrap;
  }

  .project-card {
    width: 100%;
  }

  .img-container > img {
    height: 200px;
  }
}

@media screen and (orientation: landscape) {
  .img-container {
    max-height: 100vh;
  }
}
